* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  height: 100vh;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.h3 {
  font-size: 23px;
}

button {
  outline: none;
  margin-bottom: 0.5rem;
}

ul,
ol,
dl {
  margin: 0px;
  margin-left: 1.1em;
  padding: 0;

}

a {
  text-decoration: none;
  color: black;
}

.text-field__link-note:hover {

  border-bottom: 1px dotted #000;
}


.li-space {
  margin-bottom: 6px;
  font-size: 14px;
}

.table-bloc {
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 12.8px;
  overflow-x: auto;
}

.wrapper {
  min-width: 550px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
}

button {
  border-radius: 0;
}

button:focus,
button:hover {
  outline: none;
}

a {
  text-decoration: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.form-container {
  border: solid 1px #888;
  margin: 50px auto;
  max-width: 800px;
  padding: 40px;
  width: calc(100% - 60px);
}

.header-text {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}

.italic-text {
  font-style: italic;
}

.light-bolded {
  font-weight: 600;
}

.intro-paragraph {

  margin-bottom: 20px;
  font-size: 14px;

}

.footer-text {
  font-size: 12px;
}

/******************/
/*** Table Styling ****/
.mytable {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

.mytable-head {
  border: 1.5px solid rgb(134, 133, 133);
  margin-bottom: 0;
  padding-bottom: 0;
}

.mytable-head td {
  border: 1.5px solid rgb(134, 133, 133);
}

.mytable-body {
  border: 1.5px solid rgb(134, 133, 133);
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.mytable-body td {
  border: 1.5px solid rgb(134, 133, 133);
  border-top: 0;
}

.mytable-body th {
  border: 1.5px solid rgb(134, 133, 133);
  border-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.mytable-footer {
  border: 1.5px solid rgb(134, 133, 133);
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

.mytable-footer td {
  border: 1.5px solid rgb(134, 133, 133);
  border-top: 0;
}

.mytable-footer th {
  border: 1.5px solid rgb(134, 133, 133);
  border-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.mytable-witnesses {
  padding-top: 40px;
}

.table-col-1-of-6 {
  width: 16.66%;
}

.text-area__table {
  border: none;
  width: 100%;
  resize: none;
}

.text-field__table {
  width: 100%;
  padding: 3px;

  border: none;
}

/***************/
.text-field {
  margin-bottom: 8px;
  margin-right: 16px;
}

.text-field:last-child {
  margin-right: 0;
}

.text-field__label {
  display: block;
  font-size: 13px;
  margin-left: 3px;
}

.text-field__label-sub-note {
  font-size: 9px;
}

.text-field__input {
  border: solid 2px #e7602c;
  padding: 5px;
  width: 100%;
}